body {
	background-color: grey;
}

.contact h1 {
	padding: 20px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	margin-left: 50px;
	color: black;
	background-color: rgb(209, 202, 197 );


}

.contact {
	padding-top: 20px;
}

.Email {
	margin-top: 70px;
}


.Email h1 {
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 48px;
	color: black;
	background-color: rgb(209, 202, 197 );
}

.Location h1 {
	padding: 30px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	margin-left: 50px;
	color: black;
	background-color: rgb(209, 202, 197 );

}

